<nb-card>
  <nb-card-header>Profile</nb-card-header>
  <nb-card-body>
    <!-- <form class="d-flex"> -->
      <div class="col-md-4">

      </div>
      <div class="col-md-8">
        <div class="form-group">
          <label for="exampleInputEmail1" class="label">Email address</label>
          <input type="email" nbInput fullWidth id="exampleInputEmail1" placeholder="Email" [(ngModel)]="user.email">
        </div>
        <div class="form-group">
          <label for="firstName" class="label">First name</label>
          <input type="text" nbInput fullWidth id="firstName" placeholder="First name" [(ngModel)]="user.firstName">
        </div>
        <div class="form-group">
          <label for="lastName" class="label">Last name</label>
          <input type="text" nbInput fullWidth id="lastName" placeholder="First name" [(ngModel)]="user.lastName">
        </div>
        <div class="form-group">
          <label for="phone" class="label">Last name</label>
          <input type="text" nbInput fullWidth id="phone" placeholder="Phone" [(ngModel)]="user.phone">
        </div>
        <button type="submit" nbButton status="danger" (click)="submit()" style="float: right">Submit</button>
      </div>
    <!-- </form> -->
  </nb-card-body>
</nb-card>
