#login {
  a {
    text-decoration: underline;
    cursor: pointer;
  }

  .card-login {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-45%,-50%);
    width: 50%;
  }
}

.hidden {
  display: none;
}


